<html>
  <head>
    <title>lP</title>
  </head>
  <body>

    <header>
      <ul>
        <li class="login">ログイン</li>
        <li class="new">新規登録</li>
      </ul>
    </header>

    <div class="shop-name">
      <ruby>
        CUT<rt>カット</rt>
      </ruby>
      <ruby>
        HOUSE<rt>ハウス</rt>
      </ruby>
      <ruby>
        美杏館<rt>ビアンカン</rt>
      </ruby>     
    </div>

    <div class="cover"></div>

    

    <section class="imgshot">
      <img src="sample.jpg">
    </section>

    <section class="whatNew">
      <div class="whatNew-header">
        <p class="whatNew-header__logo">
          <img src="yuko_logo.jpg">
        </p>
        <p class="whatNew-header__subject">
          Information/お知らせ
        </p>
      </div>
      <div class="whatNew-info">
        <p class="whatNew-info--date">2019/10/10</p>
        <p class="whatNew-info--content">
          2019年10月10日より新店舗に移転のうえ営業しております。
          今後とも変わらぬご愛顧のほど、何卒よろしくお願いいたします。
          【移転先住所】港北区日吉2-15-3
          東横線日吉駅より6分　googleマップはこちら
          「旭湯」近くの「まいばすけっと（日吉2丁目店）」はすむかい。
          <br>※メールアドレス・電話番号に変更はございません。
        </p>
        <p class="whatNew-info--date">2019/xx/xx</p>
        <p class="whatNew-info--content">
          メールアドレスが変わりました
          biankan@cute.email.ne.jp
          登録ご変更宜しくお願い致します
        </p>
      </div>
    </section>

    <section class="feature">
      <div class="feature-one">
        <p class="feature-one--logo"><img src="yuko_logo.jpg"></p>
        <h1>YUKOSYSTEM認定店</h1>
      </div>
      <div class="feature-two">
        「ユウコシステムリペア」は、「ユウコ」の名でNYですでにトップブランドとして知れ渡り、ハリウッドスターやファッションモデルが愛用。
        すでに雑誌やTVでも紹介されています。輝くようなストレートヘアは、いまNYでもブーム。くせ毛が多いとされる西洋人にとって、
        手間と費用を十分にかけて手に入れるストレートヘアはステイタスの証とも言えます。超高級サロンでのみ扱うユウコは、
        NYの女性のあこがれのブランドなのです。
        そんな技術を私たちは体験できています。縮毛矯正数多くあれど是非、お試しになってみてください。
        私たちはネットワークを通してリペアを追求する仲間たちと、よりよい技術のご提供ができるように勉強会を重ねています。
        お客様のニーズにあった新しい情報と技術を心がけています。
      </div>
    </section>

    <section class="detail">
      <!--タブ-->
      <ul class="tab-group">
        <li class="tab is-active">メニュー & 料金</li>
        <li class="tab">特典・クーポン</li>
        <li class="tab">営業日 & 予約</li>
        <li class="tab">アクセス</li>
        <li class="tab">店舗情報</li>
      </ul>

      <!--タブを切り替えて表示するコンテンツ-->
      <div class="panel-group">
 
        <div class="panel">
          <ul class="panel-item">
            <li>縮毛矯正リペア</li>
            <li>カラーリペア</li>
            <li>クリニックパーマ</li>
            <li>デジタルパーマ</li>  
            <li>カラー</li>
            <li>ヘナ</li>              
            <li>トリートメント</li> 
            <li>エクステンション</li> 
            <li>マジックマスカラ</li>
            <li>まつげパーマ・エクステンション</li>
            <li>ロングタイムアイラッシュエクステ</li>
            <li>マッサージ<span>（顔そり・化粧水パック込み）<span></li>  
            <li>スペシャルクーリングパック</li> 
            <li>ヘッドエステ<span>（マッサージ・シャンプードライ）</span></li> 
            <li>フットマッサージ</li> 
            <li>クリームバス<span>（マッサージのみ）</span></li> 
            <li>リフレ & ハンド 30分</li> 
            <li>リフレ & ハンド 50分</li> 
            <li>オプション 足の角質除去</li> 
          </ul>
          <ul class="panel-val">
            <li>5,200 - 26,500円</li>
            <li>8,200 - 35,500円 <span>(リペア + カラー)</span></li>
            <li>10,000円</li>    
            <li>5,000 - 12,000円</li>
            <li>3,000 - 9,000円</li>
            <li>4,000 - 6,000円</li>  
            <li>1,000 - 9,000円</li>
            <li>300 - 500円/1本あたり</li>
            <li>1,000 - 5,300円</li>    
            <li>2,500 - 4,800円</li>
            <li>300円/1本あたり</li>
            <li>2,000円</li>
            <li>1,000円</li>
            <li>2,000円</li>
            <li>1,000円</li>
            <li>3,000円</li>
            <li>2,500円</li>
            <li>4,500円</li>
            <li>1,000円</li>
          </ul>

        </div>

        <div class="panel">
          <div class="panel-qupon others">
            <p>初めてのご来店でのリペア施術 <span>2,000円 割引券</span></p>
            <p>初めてのご来店でリペア以外の施術 <span>10% OFF券</span></p>
            <p>お誕生日月 <span>2,000円 割引券</span></p>
            <p class="other"><span>その他の特典</span><br>
            ・クーポン券で割引<br>
            ・ポイントカードに貯まったポイントで割引<br>
            ・当店発行の年賀状で１０％割引
            </p>
          </div>         
        </div>

        <div class="panel">Content-C</div>


        <div class="panel is-show">
        
          <div style='width: 800px;'>
            <div id="map" style='width: 800px; height: 400px;'></div>
          </div>

        </div>

        <div class="panel">
          <ul class="panel-item general-left">
            <li class="panel-item--left">定休日</li>
            <li class="panel-item--left">最終受付</li>
            <li class="panel-item--left">所在地</li> 
            <li class="panel-item--left">eメール</li>    
            <li class="panel-item--left">フリーダイヤル</li>
            <li class="panel-item--left">電話番号・FAX</li>    
          </ul>

          <ul class="panel-val general-right">
            <li class="panel-val--right">毎週火曜日・第二水曜日・第三日曜日</li>
            <li class="panel-val--right twoline">(リペア)pm5:00(その他のメニュー)pm6:00<br>
                (要予約)日曜・祭日1時間早くなります</li>
            <li class="panel-val--right twoline">〒223-0061<br>横浜市港北区日吉2-15-3</li> 
            <li class="panel-val--right">biankan@cute.email.ne.jp</li>    
            <li class="panel-val--right">0120-122-180</li>
            <li class="panel-val--right">045-563-3804</li>   
          </ul>        
        </div>


      </div>
    </section>

    <footer>
      <h4> COPYRIGHT(C)</h4>
      <p>美杏館</p>
      <h4>ALL RIGHTS RESERVED.</h4>
    </footer>

  </body>
</html>