<html>
  <head>
    <title>lP</title>
  </head>
  <body>

    <header>
      <ul>
        <li class="login">login</li>
        <li class="new">new</li>
      </ul>
    </header>

    <section class="imgshot">img</section>
    
    <section class="overview">
      <div class="overview-info">
        <p class="overview-info--title">shop info</p>
        <ul>
          <li>BKN</li>
          <li>tel:</li>
          <li>email: </li>
          <li>address:</li>
          <li>xxx xxxx xxx</li>
        </ul>
      </div>
      
      <div class="overview-access">
        <p class="overview-access--title">access</p>
        <p>detail</p>
      </div>

      <div class="overview-map">
        <p class="overview-map--title">map</p>
        <p>img & link</p>
      </div>
    </section>
    
    <section class="container">
    </section>
    


  <div class="container">
    <ul class="menu">
      <li><a href="#" id="about" class="menu_item active">menu</a></li>
      <li><a href="#" id="service" class="menu_item">about</a></li>
      <li><a href="#" id="contact" class="menu_item">resv</a></li>
    </ul>
    <ul class="contents">
      <li class="content show">
        about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about about
      </li>
      <li class="content">
        service service service service service service service service service service service service service service service service service service service service service service service service service service
      </li>
      <li class="content">
        contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact contact
      </li>
    </ul>
  </div>




    <footer>bottom</footer>
    <p>jquery test(it's ready)</p>
  </body>
</html>