<div class="wrap">
  <h1>選択した日程の編集</h1>
  <%= render 'form', event: @event %>
</div>

  <div class="nav_three">
    <i class="fas fa-caret-right"></i>
    <%= link_to '編集リストへ戻る', events_path %> |
    <%= link_to 'トップ画面へ', root_path %>
  </div>
