<div class="agreement">

<h1>個人情報のお取り扱いについての同意</h1>
<h2>予約フォームでは個人情報をご記入いただくことになります。</h2>
<p>下記をお読みいただき、同意いただける場合は、
「同意して、予約フォームに進む」ボタンをクリックしてください。</p>

<h3>本予約フォームは、美杏館（以下「当サロン」）での施術を予約するためのフォームです。</h3>

<h4>個人情報の管理</h4>
当社は、お客さまの個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備・社員教育の徹底等の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行ないます。

<h4>個人情報の利用目的</h4>
予約時に入力頂く、お名前、e-mailアドレス、電話番号等の個人情報はオンラインでご予約いただく際の目的以外では利用いたしません。
お客さまからお預かりした個人情報は、当サロンからのご連絡時に利用いたします。

<h4>個人情報の第三者への開示・提供の禁止</h4>
当サロンは、お客さまよりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。
<div class="list">
  <ul>
    <li>お客さまの同意がある場合</li>
    <li>お客さまが希望されるサービスを行なうために当社が業務を委託する業者に対して開示する場合</li>
    <li>法令に基づき開示することが必要である場合</li>
  </ul>
</div>

<h4>ご本人の照会</h4>
お客さまがご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。

<h4>法令、規範の遵守と見直し</h4>
当サロンは、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。


  <div>
    <ul class="btn_agree">
      <li class="btn_agree--no"><%=link_to '同意しない', root_path %></li>
      <li class="btn_agree--yes"><%=link_to '[準備中]同意して予約フォームへ進む', new_book_path %></li>
    </ul>
  </div>

</div>